@charset "UTF-8";
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'GowunBatang-Regular';
}

a{
	color: #1C7EB7;
	text-decoration: none;
}

a:hover{
	color: #4CAF50;
}

.container{
	margin-top: 100px;
	text-align: center;
}

p{
	color: #1C7EB7;
	font-weight: bold;
}

div.column{
	margin: 20px;
}

input::placeholder{
	color: #A2E882;
}

.user-form{
	border-radius: 30px;
	margin: auto;
	width: 500px;
	height: 70px;
	font-size: 20px;
	color: #ADC8FF;
}