<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>changePASSWORD :: 비밀번호 변경</title>
<link th:href="@{/css/password_change.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
	 <div class="text-main">
 		<h1>비밀번호 변경</h1>
 	 </div>
		<form class="user" th:action="@{/changePwd}" name="f" th:object="${sessionId}" method="post">
			<div calss="wrap">
				<div class="ch_Password">
				<p class="lead">비밀번호 변경을 원하시면 새로운 비밀번호를 입력해주세요</p>
				  	<div class="form-group">
					 	<div class="column">
						 	<input type="text" class="user-form" id="myId" name="myId"
						 		   style="text-align: center;" th:value="*{id}"  placeholder="아이디" readonly="readonly">
					 	</div>
					</div>
				  	<div class="form-group">
				 		<div class="column">
					 		<input type="text" class="user-form" id="myPwd" name="myPwd"
					 		       style="text-align: center;"  placeholder="현재 비밀번호" required>
				 		</div>
				 	</div>
					<div class="form-group">
				 		<div class="column">
					 		<input type="text" class="user-form" id="inPwd" name="inPwd"
					 		       style="text-align: center;"   placeholder="현재 비밀번호 확인" required>
				 		</div>
				 	</div>
					<div class="form-group">
				 		<div class="column">
					 		<input type="text" class="user-form" id="newPwd" name="newPwd"
					 		       style="text-align: center;"  
					 		       placeholder="새로운 비밀번호 - 최소 8글자 이상" required>
				 		</div>
				 	</div>
				 	<div class="form-group">
				 		<div class="column">
					 		<input type="text" class="user-form" id="newPwd2" name="newPwd2"
					 		       style="text-align: center;"  
					 		       placeholder="새로운 비밀번호 확인- 최소 8글자 이상" required>
				 		</div>
				 	</div>
			 		<div>
			 			<a href="#" class="changPWD-btn"  onclick="changPassword()">비밀번호 변경 저장 &emsp;</a>
						<a th:href="@{main}" class="btn_userMain" >메인으로 가기</a>
			 		</div>		
				</div>
			</div>
		</form>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" th:src="@{/js/password_change.js}"></script>
</html>