<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korea.test.mapper.MpMapper">

	<!-- 로그인 체크 -->
	<select id="loginCheck">
		select * from Customer where id = #{id}
	</select>
	
	<!-- 회원 정보 조회 -->
	<select id="findUserId">
		select * from Customer where id = #{id}
	</select>


	<!-- 회원 정보 수정 업데이트 -->
	<update id="userSave">
		update Customer set
			nickName = #{nickName},
			password = #{password},
			phoneNumber = #{phoneNumber},
			email = #{email}
		where
			id = #{id}
	</update>
</mapper>










